.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: antiquewhite;
  padding: 50px 0 50px 0;
  margin-top: 90px;
}

.firstContainer {
  width: 500px;
}
